.espace-m {
  height: 5rem;
}

.espace-s {
  height: 2rem;
}

.espace-xs {
  height: 1rem;
}

.trait {
  height: 1px;
  background-color: lightgray;
}

.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right: .3em;
}

.galerie {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.photo_galerie {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: auto;
  height: 13rem;
  width: auto;
}

.photo_galerie_fin {
  flex-shrink: 2;
  flex-basis: auto;
  height: 13rem;
  width: auto;
}

@media (min-width: 1281px) {
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  } 
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  } 
}

@media (min-width: 768px) and (max-width: 1024px) {
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  } 
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  } 
}

@media (min-width: 481px) and (max-width: 767px) {
  .w-50 {
    width: 80%!important;
  }
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .w-50 {
    width: 100%!important;
  }
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  }
}

@media (max-width: 319px) {
  .w-50 {
    width: 100%!important;
  }
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 80%;
  }
  .photo_galerie_fin {
    flex-grow: 1;
  }
}