h2 {
    color : red;
    font-weight: 700;
}

.aNom {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
}

.formDelete {
    margin-left: 10%;
    background-color: red;
}

label {
    font-weight: 600;
}

.form {
    padding-left: 30%;
}