h2 {
    color: green;
}
button {
    background-color: rgb(50, 168, 172);
    height : 20px;
    width : 50px;
    border-radius: 100%;
}

#valid {
    background-color: red;
    border-radius: 2%;
    height : 30px;
    width : 70px;
}