/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Top left text */
.top-left .a1 {
    position: absolute;
    top: 8px;
    left: 30px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Top right text */
.top-right .a1 {
    position: absolute;
    top: 8px;
    right: 30px;
    font-weight: 400;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.top-right1 .a1 {
    position: absolute;
    top: 8px;
    font-weight: 400;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00d0ff;
    font-family: 'mountains', sans-serif;
}

.centered-date {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.centered-countdown-jours {
    position: absolute;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.centered-countdown-heures {
    position: absolute;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.centered-countdown-minutes {
    position: absolute;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.centered-countdown-secondes {
    position: absolute;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.centered-eventpage {
    position: absolute;
    transform: translate(-50%, 50%);
    color: black;
    font-family: Arial, sans-serif;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-block1 {
    display: block;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.btn-1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #00d0ff;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 13px 10px rgba(0,0,0,0.16);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 13px 10px rgba(0,0,0,0.16);
}

.btn-1:hover {
    background-color: #5D8AA8;
}