/************************* Extra small devices (portrait phones, less than 576px) *************************/
@media (max-width: 575.98px) {
    .papropos{font-size: 10px;}
  .h1blog {
    font-size: 30px;
  }
  .titreglitch {
    font-size: 80px;
  }
  html {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .navbarpc {
    display: none;
  }
  .maintuiles {
    top: 950px;
  }
  .grid__item-title {
    padding: 0vh 0.5em 0;
  }
  .containerordi {
display: none;  }
  .examples .example .hover {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  .image-overlay-top {
    position: relative;
    width: 50%;
  }
  .text {
    font-size: 6px;
  }
  .formationordi {
display: none;  }
    .formationordi1 {
display: none;  }
    .imgtelmuscu {width: 70%; height: auto;}
    .videotelspartan {width: 70%; height: auto;}
}

/************************* Small devices (landscape phones, 576px and up) *************************/
@media (min-width: 576px) and (max-width: 767.98px) {
    .papropos{font-size: 10px;}
  .h1blog {
    font-size: 30px;
  }
  .titreglitch {
    font-size: 80px;
  }
  html {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .navbarpc {
display: none;  }
  .maintuiles {
    top: 1000px;
  }
  .grid__item-title {
    padding: 0vh 0.5em 0;
  }
  .containerordi {
display: none;  }
  .examples .example .hover {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  .image-overlay-top {
    position: relative;
    width: 50%;
  }
  .text {
    font-size: 6px;
  }
  .formationordi {
display: none;  }
    .formationordi1 {
display: none;  }
    .imgtelmuscu {width: 70%; height: auto;}
    .videotelspartan {width: 70%; height: auto;}
}

/************************* Medium devices (tablets, 768px and up) *************************/
@media (min-width: 768px) and (max-width: 991.98px) {
    .papropos{font-size: 10px;}
  .h1blog {
    font-size: 30px;
  }
  .titreglitch {
    font-size: 80px;
  }
  html {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .navbarpc {
display: none;  }
  .maintuiles {
    top: 3000px;
  }
  .containerordi {
display: none;  }
  .examples .example .hover {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  .image-overlay-top {
    position: relative;
    width: 50%;
  }
  .text {
    font-size: 6px;
  }
  .formationordi {
display: none;  }
    .formationordi1 {
display: none;  }
    .imgtelmuscu {width: 70%; height: auto;}
    .videotelspartan {width: 70%; height: auto;}
}

/************************* Large devices (desktops, 992px and up) *************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .papropos{font-size: 10px;}
  .h1blog {
    font-size: 150px;
  }
  html {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .burger {
display: none;  }
  .maintuiles {
    top: 2000px;
  }
  .containertel {
display: none;  }
  p {
    font-size: 24px;
  }
  .text {
    font-size: 18px;
  }
  .formationtel {
display: none;  }

.formationordi1 {
display: none;  }
}

/************************* Extra large devices (large desktops, 1200px and up) *************************/
@media (min-width: 1200px) and (max-width: 1599.98px) {
    .papropos{font-size: 20px;}
  .h1blog {
    font-size: 150px;
  }
  html {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .burger {
display: none;  }
  .maintuiles {
    top: 2000px;
  }
  .containertel {
display: none;  }
  p {
    font-size: 24px;
  }
  .text {
    font-size: 18px;
  }
  .formationtel {
display: none;  }
    .formationtel1 {
display: none;  }
}
/**************************************************************************************************************************/
@media (min-width: 1600px) {
    .papropos{font-size: 20px;}
  .h1blog {
    font-size: 150px;
  }
  .titreglitch {
    font-size: 180px;
  }
  html {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .burger {
display: none;  }
  .maintuiles {
    top: 1500px;
  }
  .grid__item-title {
    padding: 30vh 0.5em 0;
  }
  .containertel {
display: none;  }
  .examples .example .hover {
    font-size: 200px;
  }
  p {
    font-size: 16px;
  }
  .text {
    font-size: 18px;
  }
  .formationtel {
display: none;  }
    .formationtel1 {
display: none;  }
}