h2 {
    color: green;
}
button {
    background-color: rgb(50, 168, 172);
    height : 20px;
    width : 50px;
    border-radius: 100%;
}


#searchbar{ 
    margin-left: 15%; 
    padding:15px; 
    border-radius: 10px; 
} 

input[type=text] { 
     width: 30%; 
     -webkit-transition: width 0.15s ease-in-out; 
     transition: width 0.15s ease-in-out; 
} 

#myUL{ 
   font-size:  1.5em; 
   margin-left: 90px; 
} 

li { 
  display: list-item;     
 }

 button {
     display: list-item;
 }
 
 input:checked > li {
    color: blue;
 }
