.titreglitch {
font-family: nudista-web, sans-serif;
font-weight: 700;
font-style: normal;
}
.linebreak {
    height: 3px white;
    width: 80%;
    margin-right: 50%;
    margin-left: 50%;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
